body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

ul {
    text-align: center;
    list-style-position: inside; 
} 

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.column {
    width: 33%;
}

.header {
    text-align: center;
    font-family: Arial;
    font-size: 16px;
}

.setosa {
    fill: lightblue;
}

.virginica {
    fill: salmon;
}

.versicolor {
    fill: darkgreen;
}

.selected {
    opacity: 100%;
    stroke: orange;
    stroke-width: 3px;
}